.card-container {
  width: 300px !important;
  border: none !important;
  border-radius: 20px !important;
  overflow: hidden !important;
  background-color: #ffffff !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease !important;
  margin: 1rem !important;
}

.card-container:hover {
  transform: translateY(-5px) !important;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2) !important;
}

.card-img-wrapper {
  position: relative !important;
  width: 100% !important;
  padding-top: 100% !important; /* Esto crea un contenedor cuadrado */
  overflow: hidden !important;
}

.card-img {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 1.5rem !important;
  background: linear-gradient(145deg, #f3f4f6, #ffffff) !important;
}

.card-title {
  font-size: 1.2rem !important;
  color: #2d3748 !important;
  margin-bottom: 0.5rem !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.card-subtitle {
  font-size: 0.9rem !important;
  color: #718096 !important;
  margin-bottom: 1rem !important;
  display: flex !important;
  align-items: center !important;
}

.card-subtitle svg {
  margin-right: 0.5rem !important;
}

.card-text {
  font-size: 1.1rem !important;
  color: #4a5568 !important;
  margin-bottom: 1.5rem !important;
  font-weight: 600 !important;
}

.card-button {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  padding: 0.75rem 1rem !important;
  border-radius: 10px !important;
  font-weight: 600 !important;
  transition: all 0.3s ease !important;
  width: 100% !important;
  margin-bottom: 0.75rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.card-button svg {
  margin-right: 0.5rem !important;
}

.card-button:hover {
  background-color: var(--secondary-color) !important;
  transform: translateY(-2px) !important;
}

.card-button:last-child {
  margin-bottom: 0 !important;
  background-color: #e2e8f0 !important;
  color: #4a5568 !important;
}

.card-button:last-child:hover {
  background-color: #cbd5e0 !important;
}

@media (max-width: 768px) {
  .card-container {
    width: 100% !important;
  }
}
