/* 
index.css
*/
html, body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;  
  min-height: 100vh;

}

.footer {
  flex-shrink: 0;
}

:root {
  --primary-color: #6a8e7f;
  --secondary-color: #073b3a;
  --background-color: #fdfffc;
  --background-secondary-color: #e8ede5;
  --text-color: #28112b;
  --border-color: #361d2e;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  outline: none;
}

.checkbox-group {
  margin-bottom: 1.5rem;
}

.checkbox-group label {
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

button {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

button:hover:not(:disabled) {
  background-color: var(--secondary-color);
  color: white;
  transform: translateY(-2px);
}

button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .signup-content {
    flex-direction: column;
  }

  .step-info,
  .step-form {
    width: 100%;
  }

  .signup-progress {
    display: none;
  }
}

.field-description {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #555;
}

textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
  resize: vertical;
}

textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  outline: none;
}
