/* ContactSupport.css */

#contact-support-full-container{
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-support-container {
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto !important;
  padding: 1rem;
  background-color: var(--background-secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-support-container h2 {
  text-align: center;
  color: var(--text-color);
}

.contact-support-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}
